
<div class="footer">
    <div class="footer-links">
        <div class="footer-links--wrapper">
            <div class="footer-link--items">
                <h2>About Us</h2>
            <a href="/">how it works</a>
            <a href="/">Careers</a>
            <a href="/">terms of service</a>
            </div>
            <div class="footer-link--items">
                <h2>contact</h2>
            <a href="/">email</a>
            <a href="/">number</a>
            <a href="/">fax number</a>
            </div>
            

        </div>
        <div class="footer-links--wrapper">
            <div class="footer-link--items">
                <h2> future projects</h2>
            <a href="/">new Art projects</a>
            <a href="/">new tech projects</a>
            <a href="/"></a>
            </div>
            <div class="footer-link--items">
                <h2>Social Media</h2>
            <a href="/">email</a>
            <a href="/">number</a>
            <a href="/">fax number</a>
            </div>
    
        </div>
    </div>

    <div class="social-media">
        <div class="social-media--wrap">
            <div class="footer-logo">
                <a href="/" id="footer-logo"><i class="fa-solid fa-headphones"></i>sIr-kAyos</a>
                <p class="website-rights"> &copy; sIr-kAyos 2025 All Rights Reserved</p>
            </div>
            <div class="social-icons">
                     <a href="
                        " class="social-icon--links">
                        <i class="fab fa-instagram"></i>
                    </a>
                 <a href="
                    " class="social-icon--links">
                    <i class="fab fa-tiktok"></i>
                </a>
       
                
                <a href="
                    " class="social-icon--links">
                    <i class="fab fa-youtube"></i>
                </a>
            
                <a href="
                    " class="social-icon--links">
                    <i class="fab fa-linkedin"></i>
                </a>
            
                <a href="https://github.com/54mIam
                    " class="social-icon--links">
                    <i class="fab fa-github"></i>
                </a>
            
   
            
            </div>
        </div>
    </div>
</div>



<script src="/Script/header.js"> </script>
<script src="https://kit.fontawesome.com/aeecb58b9d.js" crossorigin="anonymous"></script>
