<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/about.css">
    
    <title>About Me</title>
</head>
<body>
    <%-include('partials/header')  %>
<div class="main-container">

        <div class="header-container">
            <h1 class="about-me-title"> About Me</h1>

        </div>
  
   

    <div class="about-container">

        <div class="image-container">
            <img class="about-me-image" src="../images/<%= auther.image  %>" alt="">
       
        </div>

        <div class="description-container">
        <p class="about-me-paragraph">
            <%= auther.description  %> </p>
       </div>
        
    </div>
   



 
</div>


<%-include('partials/footer')  %>
</body>
</html>
