




<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/headerFooter.css">
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>



<%-include('./partials/header')  %>


<div class="contact-container">

    <div class="contact-header">

        <h1 class="contact-me">Contact Me</h1>
        <div class="contact-paragraph">
            <p class="contact-me-paragraph">If you have any questions or comments, please feel free to reach out!</p>
        
            <p class="contact-me-paragraph">You can contact me via the form below or through my social media channels.</p>
            <p class="contact-me-paragraph">I will get back to you as soon as possible.</p>
            <p class="contact-me-paragraph">Thank you for your interest!</p>
            <p class="contact-me-paragraph">I look forward to hearing from you.</p>
        
            
        </div>
    </div>
   
   
        <form  class="contact-form" action="/contact" method="post">
            <% if (typeof successMessage !== "undefined") { %>
                <div class="success-message">
                    <p class="success-message"><%= successMessage %></p>
                </div>
            <% } %>
        
            <div class="user-name">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" required>
            </div>
        
            <div class="users-email">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
        
            <div class="users-message">
                <label for="message">Message:</label>
                <textarea id="message" name="message" required></textarea>
            </div>
            
        
            <button class="submit-btn" type="submit">Send</button>
        </form>
        
    

   
   

</div>










<%-include('./partials/footer')  %>
    
</body>
</html>