

@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Passions+Conflict&display=swap');

.main-container{
  position: relative;
 
  display: flex;
  flex-direction: column;
   
    font:bold, cursive; 
   
    align-items: center;
    text-align: center;
   
    
    padding: 5px 3px;
    height: 70vh;
    width: 100%;
}

.about-container{
    position: inherit;
   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  
   
     height: 70%;
     width: 80%;
     margin: 10px auto;
     padding: 10px 10px;
  
}

.about-me-title{
font-size: 7rem;
    font-family: "Passions Conflict", cursive;
  font-weight:bolder;
  font-style: normal;
  background-color: rgba(161, 5, 228, 0.68);
  background-image: linear-gradient(to right, #a61ed8, #f8b500);
  background-size: 100%;
  background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   width: 100%;
   text-align: center;
   margin: 1px 5px;
   padding: 0 auto;
}

.image-container{
    justify-items: center;
    align-items: center;
    width: 190px;
    height: 100%;
  
   
}

.about-me-image{
    border-radius: 10%;
    width: 120px;
    height: 230px;
   
}
.about-me-paragraph{
    font-size: 1rem;
    width: 400px;
    height: 200px;
    background-color: rgba(207, 207, 220, 0.68);
    background-image: linear-gradient(to right, #c253ea, #f8b500);
    background-size: 100%;
    background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
  
}




@media screen and (max-width: 690px) {
   
    
        .main-container{
         
            width: 100%;
            height:80vh;
            position: relative;
        
        } 
        .header-container{

            width: 100%;
            height: 10vh;
            position: relative;
           
         
            display: flex;
            flex-direction: column;
        }
        .about-me-title{
            font-size: 3.5em;

           
        }
        .about-container{
            flex-direction: column;
            justify-content: center;
            align-items:center ;
            width: 100%;
            height: 500px;
            margin: 0 auto;
            padding: 0 auto;}


            .description-container{
              
              
                margin: 0 auto;
                padding: 1px 1px;
            }
         
        
         }

         @media screen and (max-width: 505px){

          .main-container{
            width: 100%;
           
            position: relative;
           
         
            display: flex;
            flex-direction: column;
           
          }
          .header-container
          {
            width: 100%;
            height: 10vh;
            position: relative;
           
         
            display: flex;
            flex-direction: column;
          }
        }