

@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Passions+Conflict&display=swap');
 body{

    background-color: rgb(145, 77, 209);
    background-image: linear-gradient(to right, 
    rgb(145, 77, 209), rgba(0, 0, 0, 0.91));
    max-height: 100vh;
  
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
 }

 .navbar{
    background-color: rgba(216, 9, 195, 0.242);
    display: flex;
    height:10vh;
    justify-content:space-evenly;
    align-items: center;
    font-size: 1.2rem;
    position: relative;
    top: 0;
    z-index:999;
}

.navbar-container{
    display: flex;
    justify-content: space-between;
    align-items: auto;
    width: 100%;
    z-index: 1;
    max-width: 1300px;
    padding: 0 50px;
    height: 80px;
    margin: 0 ;
  
    

}

.about-header{
  position: relative;
 
  display: flex;
  flex-direction: column;
    background-color: #0374e5;
    background-image: linear-gradient(to right, 
    #8f0666 10%, #592af5 50%, rgb(83, 6, 83) 80%); ;
   
    font:bold, cursive; 
   
    align-items: center;
    text-align: center;
   
    
    padding: 5px 3px;
    height: 100%;
}

.about-me-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
  
    background-color: rgba(207, 207, 220, 0.68);
    background-image:
     linear-gradient(to bottom, rgba(255, 16, 155, 0.68)
      10%, rgba(156, 4, 227, 0.68)60%);
    background-size: 100%;
    background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     height: 100%;
  
}

.about-me-title{
font-size: 7rem;
    font-family: "Passions Conflict", cursive;
  font-weight:bolder;
  font-style: normal;
  background-color: rgba(207, 207, 220, 0.68);
  background-image:
   linear-gradient(to bottom, rgba(255, 16, 155, 0.68)
    10%, rgba(156, 4, 227, 0.68)60%);
  background-size: 100%;
  background-clip: text;
   -moz-background-clip: text;
   -webkit-text-fill-color: transparent;
   -moz-text-fill-color: transparent;
   width: 100%;
   text-align: center;
   margin: 10px 5px;
   padding: 0 auto;
}

.about-me-image{
    border-radius: 10%;
    width: 200px;
    height: 400px;
   
}
.about-me-paragraph{
    font-size: 1.2rem;
    width: 400px;
    height: fit-content;
    background-color: rgba(207, 207, 220, 0.68);
    background-image:
     linear-gradient(to bottom, rgba(235, 102, 179, 0.68)
      10%, rgba(228, 200, 241, 0.68)60%);
    background-size: 100%;
    background-clip: text;
     -moz-background-clip: text;
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
  
}